:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Monument Extended";
  src: url("/fonts/PPMonumentExtended-Regular.otf") format("opentype");
  font-weight: regular;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  display: flex;
  overflow: hidden;
}

/* Loading screen */
#progress-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: #d6d2ca;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader-pattern {
  display: inline-block;
  font-family: Monument Extended;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: #263238;
  letter-spacing: 2px;
  position: relative;
}

.loader {
  display: inline-block;
  top: 0;
  left: 0;
  color: #fff;
  position: absolute;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease;
  text-shadow: 0px 0px 15px rgba(66, 68, 90, 0.4);
}

.loader-pattern::after {
  content: attr(sub-text);
  position: absolute;
  width: 100%;
  display: block;
  bottom: 0;
  left: 0;
  font-size: 0.6rem;
  text-align: center;
  transform: translateY(100%);
}

/* Info section */
#info {
  position: fixed;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
  width: 80%;
  padding: 1.5rem 2rem;
  border-radius: 0.75rem;
  background-color: #f9f9f9;
  font-size: 0.875rem;
  transition: opacity 0.25s ease;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#info-header {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

#info-content {
  margin: 0;
}

/* Media queries */
@media screen and (min-width: 320px) {
  .loader-pattern {
    font-size: 1.5rem;
  }

  .loader-pattern::after {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .loader-pattern {
    font-size: 2.25rem;
  }

  .loader-pattern::after {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  #info {
    width: 50%;
    transform: translateX(0);
    bottom: 2rem;
    right: 2rem;
    font-size: 1rem;
  }

  .loader-pattern {
    font-size: 2.6rem;
  }

  .loader-pattern::after {
    font-size: 1.25rem;
  }
}
